%h1 Listing special attacks
Special Attack Count: 
= @special_attack.count
%table
  %tr
    %th ID
    %th Name
    %th Skill Comment
    %th Type
    %th Type (Eng)
    %th Power
    %th Cost
    %th Blows away
    %th
  - @special_attack.each do |special_attack|
    %tr
      %td= link_to special_attack.special_attack_id, special_attack_path(special_attack)
      %td= special_attack.name
      %td= special_attack.skill_comment
      %td= special_attack.attack_type
      %td= special_attack.attack_type_english
      %td= special_attack.power
      %td= special_attack.cost
      %td= special_attack.is_broken
      %td
%br

