%p#notice= notice
%p
  %b Special Attack ID:
  = @special_attack.special_attack_id
%p
  %b Name:
  = @special_attack.name
%p
  %b Skill Comment:
  = @special_attack.skill_comment
%p
  %b Type:
  = @special_attack.attack_type
%p
  %b Type (English):
  = @special_attack.attack_type_english
%p
  %b Cost:
  = @special_attack.cost
%p
  %b Power:
  = @special_attack.power
%p
  %b Will blow players away:
  = @special_attack.is_broken
%p
  %b Players with this exact special attack (same persona):
  - @special_attack.players.each do |player|
    %p= link_to player.name + " (" + ((player.teams.nil? || player.teams.name.nil? ) ? "" : player.teams.name) + ") (" + player.grade.name + ")", player_path(player)
%p
  %b Players with a special attack with the same name (possibly with a different cost):
  -# @special_attack.with_same_name.each do |attack|
    -# attack.players.each do |player|
      %p=# link_to player.name + " (" + ((player.teams.nil? || player.teams.name.nil? ) ? "" : player.teams.name) + ") (" + player.grade.name + ")", player_path(player)

= link_to 'Back', special_attacks_path