= form_for(@player) do |f|
  - if @player.errors.any?
    #error_explanation
      %h2
        = pluralize(@player.errors.count, "error")
        prohibited this player from being saved:
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :player_id
    %br/
    = f.text_field :player_id
    %br/
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :short_name
    %br/
    = f.text_field :short_name
  .field
    = f.label :player_team_id
    %br/
    = f.text_field :player_team_id
  .field
    = f.label :name_id
    %br/
    = f.text_field :name_id
  .field
    = f.label :exp_type
    %br/
    = f.text_field :exp_type
  .field
    = f.label :good_position_fw
    %br/
    = f.check_box :good_position_fw
  .field
    = f.label :good_position_mf
    %br/
    = f.check_box :good_position_mf
  .field
    = f.label :good_position_df
    %br/
    = f.check_box :good_position_df
  .field
    = f.label :good_position_gk
    %br/
    = f.check_box :good_position_gk
  .field
    = f.label :player_title
    %br/
    = f.text_field :player_title
  .field
    = f.label :grade_id
    %br/
    = f.text_field :grade_id
  .field
    = f.label :join_comment
    %br/
    = f.text_field :join_comment
  .actions
    = f.submit
