%h1 Listing players
Player Count: 
= @players.count
<br>Level Count:
= @levelcount
%table
  %tr
    %th Player
    %th Name
    %th Player team
    %th Position
    %th Player title
    %th Grade
    %th Max Total
    %th Join comment
    %th
  - @players.each do |player|
    %tr
      %td= link_to player.player_id, player_path(player)
      %td= link_to player.name, players_path(:name => player.name)
      %td= player.teams ? player.teams.name : player.player_team_id
      %td 
        -if player.good_position_fw
          .fw FW 
        -if player.good_position_mf
          .mf MF 
        -if player.good_position_df
          .df DF 
        -if player.good_position_gk
          .gk GK 
      %td= player.player_title
      %td= link_to player.grade.name, players_path(:grade => player.grade_id)
      %td= player.max_level.total_point if player.max_level
      %td= player.join_comment
%br

