= form_for @level_datum do |f|
  -if @level_datum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@level_datum.errors.count, "error")} prohibited this level_datum from being saved:"
      %ul
        - @level_datum.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :player_id
    = f.number_field :player_id
  .field
    = f.label :level
    = f.number_field :level
  .field
    = f.label :next_exp
    = f.number_field :next_exp
  .field
    = f.label :shoot
    = f.number_field :shoot
  .field
    = f.label :dribble
    = f.number_field :dribble
  .field
    = f.label :pass
    = f.number_field :pass
  .field
    = f.label :block
    = f.number_field :block
  .field
    = f.label :tackle
    = f.number_field :tackle
  .field
    = f.label :cut
    = f.number_field :cut
  .field
    = f.label :speed
    = f.number_field :speed
  .field
    = f.label :power
    = f.number_field :power
  .field
    = f.label :technique
    = f.number_field :technique
  .field
    = f.label :stamina
    = f.number_field :stamina
  .field
    = f.label :catching
    = f.number_field :catching
  .field
    = f.label :punching
    = f.number_field :punching
  .field
    = f.label :offense
    = f.number_field :offense
  .field
    = f.label :defense
    = f.number_field :defense
  .field
    = f.label :total_point
    = f.number_field :total_point
  .actions
    = f.submit 'Save'
