%h1 Listing level_data

%table
  %tr
    %th Player
    %th Level
    %th Next exp
    %th Shoot
    %th Dribble
    %th Pass
    %th Block
    %th Tackle
    %th Cut
    %th Speed
    %th Power
    %th Technique
    %th Stamina
    %th Catching
    %th Punching
    %th Offense
    %th Defense
    %th Total point
    %th
    %th
    %th

  - @level_data.each do |level_datum|
    %tr
      %td= level_datum.player_id
      %td= level_datum.level
      %td= level_datum.next_exp
      %td= level_datum.shoot
      %td= level_datum.dribble
      %td= level_datum.pass
      %td= level_datum.block
      %td= level_datum.tackle
      %td= level_datum.cut
      %td= level_datum.speed
      %td= level_datum.power
      %td= level_datum.technique
      %td= level_datum.stamina
      %td= level_datum.catching
      %td= level_datum.punching
      %td= level_datum.offense
      %td= level_datum.defense
      %td= level_datum.total_point
      %td= link_to 'Show', level_datum
      %td= link_to 'Edit', edit_level_datum_path(level_datum)
      %td= link_to 'Destroy', level_datum, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Level datum', new_level_datum_path
