%p#notice= notice

%p
  %b Player:
  = @level_datum.player_id
%p
  %b Level:
  = @level_datum.level
%p
  %b Next exp:
  = @level_datum.next_exp
%p
  %b Shoot:
  = @level_datum.shoot
%p
  %b Dribble:
  = @level_datum.dribble
%p
  %b Pass:
  = @level_datum.pass
%p
  %b Block:
  = @level_datum.block
%p
  %b Tackle:
  = @level_datum.tackle
%p
  %b Cut:
  = @level_datum.cut
%p
  %b Speed:
  = @level_datum.speed
%p
  %b Power:
  = @level_datum.power
%p
  %b Technique:
  = @level_datum.technique
%p
  %b Stamina:
  = @level_datum.stamina
%p
  %b Catching:
  = @level_datum.catching
%p
  %b Punching:
  = @level_datum.punching
%p
  %b Offense:
  = @level_datum.offense
%p
  %b Defense:
  = @level_datum.defense
%p
  %b Total point:
  = @level_datum.total_point

= link_to 'Edit', edit_level_datum_path(@level_datum)
\|
= link_to 'Back', level_data_path
