// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fw {
  display: inline;
  color: #0000FF;
}

.mf {
  display: inline;
  color: #33CC33;
}

.df {
  display: inline;
  color: #FFCC00;
}

.gk {
  display: inline;
  color: #FF0000;
}

.bronze {
  color: #FF5D00;
}

.silver {
  color: #808080;
}

.gold {
  color: #EFFF16;
}

.platinum {
  color: #FF7FB6;
}

.bigbang {
}

.dream {
}

.hidream {
}

.ex {
  color: #FF0000;
}

.special {
  color: #FF00DC;
}

#player_image {
  margin: 1em;
  float: left;
}

td.player_info {
  vertical-align:top;
}

tr.top_divider {
  td {
    border-top: thin solid black;
  }
}
